html,body, .container-fluid {
    height: 100%;
    margin-top: 0;
    font-family: "Source Sans Pro";
}

.primary-font-color {
    color: #FF9933;
}

.primary-font-color:hover {
    color: #57A3E8;
}

.secondary-font-color {
    color: #57A3E8;
}

.primary-bg-color {
    background-color: #171F1F;
}
/*Moved, changed to class*/
.head-nav {
    padding-top: .5em;
    height: 5.3em;
}
/*Moved, changed to class*/
.head-cobra-ki {
  margin-top: -.5em;  
}
/*Moved, changed to class*/
.row-body {
    height: Calc(100% - 5.3em);
}
/*Moved, changed to class*/
.left-nav {
    height: 100%;
    padding: 1em 2em 1em 2em;
    box-shadow: inset 0 0 1.5em #FF9933;
    min-height: 400px;
}
/*Moved, changed to class*/
.left-nav-row {
    height: 100%;
    min-height: 400px;
}
/*Moved, changed to class*/
.left-nav-contents {
    height: inherit;
    padding-top: .5em;
    border-radius: 2em;
    min-height: 400px;
}
/*Moved, changed to class*/
.section-middle {
    height: 100%;
    min-height: 400px;
}
/*Moved, changed to class*/
.chatMessages {
    height: 50%;
    min-height: 300px;
	overflow: auto;
	font-size: 1.2em;
}
/*Moved, changed to class*/
.row-section-middle {
    height: 100%;
    min-height: 300px;
    background-color: #ECECEC;
}
/*Moved, changed to class*/
.aside-right {
    height: 100%;
    padding: 1em 2em 1em 2em;
    box-shadow: inset 0 0 1.5em #FF9933;
    min-height: 400px;
}
/*Moved, changed to class*/
.right-aside-row {
    height: 100%;
    min-height: 400px;
}
/*Moved, changed to class*/
.right-aside-content {
    height: inherit;
    padding-top: .5em;
    border-radius: 2em;
    min-height: 400px;
}
/*Moved, changed to class*/
.chatTextarea {
    height: 20%;
    padding-left: 0;
    padding-right: 0;
    min-height: 100px;
}
/*Moved, changed to class*/
.messageInputs {
    width: inherit;
	resize: none;
    font-size: 1.2em;
    min-height: 100px;
}

.userList {
    font-size:2em;
    color: #ffffff;
}
