.aside-right {
  height: 100%;
  padding: 1em 2em 1em 2em;
  box-shadow: inset 0 0 1.5em #FF9933;
  min-height: 400px;
}

.right-aside-row {
  height: 100%;
  min-height: 400px;
}

.right-aside-content {
  height: inherit;
  padding-top: .5em;
  border-radius: 2em;
  min-height: 400px;
}