.section-middle {
  height: 100%;
  min-height: 400px;
}

.row-section-middle {
  height: 100%;
  min-height: 300px;
  background-color: #ECECEC;
}

.chatTextarea {
  height: 20%;
  padding-left: 0;
  padding-right: 0;
  min-height: 100px;
}

.messageInputs {
  width: inherit;
  resize: none;
  font-size: 1.2em;
  min-height: 100px;
}