<!DOCTYPE html>
<html>
  <head>
    <title>Cobra-Chat</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="cache-control" content="no-cache" />
    <link rel='stylesheet' href='/css/styles.css' />
    <link rel='stylesheet' href='/vendor/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/vendor/css/font-awesome.min.css' />
    <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
      <script type="text/javascript">
          userName = "<%= locals.userName %>";
          user_file = '';
      </script>
  </head>
  <body>
    <div class='container-fluid'>
        <header class='head-nav row primary-bg-color'>
            <div class='head-cobra-ki col-xs-12 col-md-4 col-md-push-4 primary-bg-color'>
                <h1 class='secondary-font-color'>Cobra Chat <%= locals.userName %> </h1>
            </div>
            <div class='col-xs-3 col-md-4 col-md-pull-4 primary-bg-color'>
                <a href='#'>
                    <i class='fa fa-home fa-4x primary-font-color'></i>
                </a>
            </div>
            <div class='col-xs-9 col-md-4 primary-bg-color'>
                <a href='#'>
                    <i class='fa fa-power-off fa-4x pull-right primary-font-color'></i>
                </a>
                <a href='#'>
                    <i class='fa fa-cog fa-4x primary-font-color'></i>
                </a>
            </div>
        </header>
            <div class="row-body row">
                <section class='section-middle col-xs-12 col-md-8 col-md-push-2'>
                    <div class='row-section-middle row'>
                        <section id='chatMessage' class='chatMessages col-xs-12'>
                        </section>
                        <div class='chatTextarea col-xs-12'>
                            <textarea id='messageInput' class='messageInputs col-xs-12'></textarea>
                            <input type="hidden" id="displayName" value="<%= locals.userName %>" >
                        </div>
                        <div>
                            <input id="image_for_message" type="file" accept="image/*" />
                        </div>
                    </div>
                </section>
                <nav class='col-xs-12 col-md-2 col-md-pull-8 left-nav'>
                    <div class='left-nav-row row'>
                        <div id="left-nav-content" class='left-nav-contents col-xs-12 primary-bg-color'>
                            <a href='#'>
                                <i class='fa fa-users fa-5x primary-font-color'></i>
                            </a>
                            <div id="users"></div>
                        </div>
                    </div>
                </nav>
                <aside class='aside-right col-xs-12 col-md-2'>
                    <div class='right-aside-row row'>
                        <div class='right-aside-content col-xs-12 primary-bg-color'>
                            <a href='#'>
                                <i class='fa fa-folder fa-5x primary-font-color'></i>
                            </a>
                        </div>
                    </div>
                </aside>
            </div>
        <footer>
        </footer>
    </div>
    <script src="/vendor/js/jquery-2.1.0.min.js"></script>
    <script src="/vendor/js/jquery.linkify.min.js"></script>
    <script src='/socket.io/socket.io.js'></script>
    <script src='/js/socketScript.js'></script>
    <script src='/vendor/js/jquery.titlealert.js'></script>
    <script src='//twemoji.maxcdn.com/twemoji.min.js'></script>
    <script type="text/javascript">
        $('#chatMessage').on('change',function(){
            twemoji.parse(document.body);
        });
    </script>
  </body>
</html>